@import "tailwindcss";
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2");
  font-weight: 400 600 800;
  font-display: swap;
}

@theme {
  --font-sans: "Open Sans", "sans-serif";
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --color-interaction: var(--color-violet-400);
  --color-interaction-hover: var(--color-violet-600);
  --color-b-dark: var(--color-slate-950);
  --color-b-card: var(--color-slate-900);
  --color-b-page: var(--color-black);
  --color-t-base: var(--color-slate-100);
  --color-t-light: var(--color-slate-400);
  --color-t-placeholder: var(--color-slate-600);
}
@utility absolute-x-center {
  @apply absolute left-1/2 -translate-x-1/2;
}
@utility popup-down {
  @apply absolute-x-center  top-full mt-2 z-20 rounded-md bg-b-dark border-2 border-slate-900;
}

h1 {
  @apply text-5xl font-extrabold;
}
h2 {
  @apply text-2xl font-extrabold;
}
